<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Skup podataka</a>
    <ul class="navbar-nav justify-content-end ms-auto">
        <li class="nav-item">
            <a class="btn btn-success <%if (linkActive === 'home') {%>  active  <%}%>" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success <%if (linkActive === 'datatable') {%>  active  <%}%>" href="/datatable">Datatable</a>
        </li>
    </ul>
</nav>
<br/>