<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="description" content="Web stranica za prikaz skupa podataka">
        <meta name="keywords" content="JSON, CSV">
        <meta name="author" content="Matej Hudiček">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <%- include(`partials/navbar`); %>
        <div class="container d-flex flex-column panel panel-primary border">
            <div class="panel-heading">Osnovni podaci:</div>
            <ul>
                <li>
                    <span>Licenca: Creative Commons Zero v1.0 Universal</span>
                </li>
                <li>
                    <span>Autor: Matej Hudiček</span>
                </li>
                <li>
                    <span>Verzija: 1.0</span>
                </li>
                <li>
                    <span>Jezik: Hrvatski</span>
                </li>
                <li>
                    <span>Vrsta podataka: podaci vremenskog niza(tlak)</span>
                </li>
                <li>
                    Atributi:
                    <ul>
                        <li>tlak - izmjereni tlak u hPa</li>
                        <li>vrijeme - vrijeme kada je mjerenje obavljeno</li>
                        <li>datum - datum kada je mjerenje obavljeno</li>
                        <li>elevacija - nadmorska visina mjesta na kojem je mjerenje obavljeno</li>
                        <li>mjesto - grad pod koji spada postaja</li>
                        <li>postaja - postaja koja je obavila mjerenje</li>
                        <li>mjeritelji - osoblje koje je izvršilo mjerenje</li>
                        <li>geografska dužina i širina - kordinate mjesta gdje je mjerenje obavljeno</li>
                        <li>županija - županija u kojoj je mjerenje obavljeno</li>
                    </ul>
                </li>
                <li>
                    Download:
                    <ul>
                        <li><a class="btn" href="/download/CSV"> CSV </a></li>
                        <li><a class="btn" href="/download/JSON"> JSON </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </body>
</html>